# Packages
frontend/node_modules

# Lock files
frontend/*.lock
frontend/*lock.json
.env


# Flyway ignores
flyway/carDealershipTicketSystemDB/*.user.toml
flyway/carDealershipTicketSystemDB/*.artifact
flyway/carDealershipTicketSystemDB/report.html
flyway/carDealershipTicketSystemDB/report.json